@import "vendor/normalize";
@import "assets/base";

/***********************************
************* item card ************
***********************************/

.items {
    @include clearfix;
}

.item {
    box-sizing: border-box;
    float: left;
    padding: $itemPadding;
    background: #fff;
    max-width: $itemMaxWidth;
    min-width: $itemMinWidth;
    min-height: $itemMaxWidth;
    width: 30%;
    text-align: center;
    margin-bottom: 5%;

    &_figure {
        margin: 0;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    &_title {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        color: $c_grey_dark;
    }

    &_paragraph {
        font-size: 11px;
        line-height: 13px;
        color: $c_grey;
        text-align: left;
        margin: 9px 0;
    }

    /**** responsive ******/

    @media screen {
        @media (min-width: 848px) {
            &:nth-of-type(3n+2),
            &:nth-of-type(3n+3) {
                margin-left: 5%;
            }
        }
        @media (min-width: 621px) and (max-width: 847px) {
            width: 47%;
            margin-bottom: 6%;
            &:nth-of-type(3n+1) {
                margin-right: 6%;
            }
            &:nth-of-type(3n+3) {
                width: 100%;
                min-width: 100%;
                height: auto;
                @include clearfix;
            }
        }
        @media (max-width: 620px) {
            width: 100%;
            margin: 6% auto;
            float: none;
            @include clearfix;
        }
    }
}

/***********************************
************* controls *************
***********************************/

.stars {
    line-height: 0;
    font-size: 0;
    margin: 9px 0;

    &_input {
        position: absolute;
        left: -9999px;
    }

    &_star {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url(/imgs/sprites/stars.png) 0 -10px no-repeat;
        cursor: pointer;
        margin: 0 1px;
    }
}

@for $i from 1 through 6 {
    .stars_input--#{$i} {
        &:checked {
            & ~ .stars_star {
                background-position: 0 0;
                &.stars_star--#{$i} {
                    & ~ label {
                        background-position: 0 -10px;
                    }
                }
            }
        }
        &:hover {
            & ~ .stars_star {
                background-position: 0 0 !important;
                &.stars_star--#{$i} {
                    & ~ label {
                        background-position: 0 -10px !important;
                    }
                }
            }
        }
    }
}

.load-more {
    width: 30%;
    max-width: $itemMaxWidth;
    min-width: $itemMinWidth;
    padding: 0 $itemPadding;
    line-height: $itemGutter;
    text-align: center;
    background: #fff;
    color: $c_grey_dark;
    border: 0;
    box-shadow: none;
    outline: none;
    display: block;
    opacity: .5;
    margin: 0 auto;
    &:hover {
        opacity: .7;
    }
}

.infinite-scroll-mode {
    position: absolute;
    top: 15px;
    right: $bodyPadding;

    &_input {
        position: absolute;
        left: -99999px;

        &:checked {
            & + label {
                &:after {
                    content: 'disable scroll mode';
                }
            }
        }
    }

    &_label {
        opacity: .5;
        background: #fff;
        color: $c_grey_dark;
        padding: $itemPadding/2 $itemPadding;
        cursor: pointer;
        &:hover {
            opacity: .7;
        }
        &:after {
            content: 'enable scroll mode';
        }
    }
}